footer {
    background-color: black;
}

html {
    font-family: sans-serif;
    background-color: white;
}

footer {
    display: flex;
    justify-content: flex-end;

}

.profile {
    height:25vh;
}

.column {
    float: left;
    width: 30%;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

.social {
    height: 10vh;
    margin:10px;
}