footer {
    background-color: black;
}

html {
    font-family: sans-serif;
    background-color: white;
}

footer {
    display: flex;
    justify-content: flex-end;

}

.profile {
    width:15%;
}

.social {
    height: 100px;
    width: 100px;
    margin:20px;
}